
.navbar-brand img{
    width:auto;
    height:42px;
}
#nav-bar{
    padding-top:3%;
    
}
.image{
    background-image: linear-gradient(to top, transparent 0%, black 100%), url(../images/netflix-background-128505-385441-537479.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position-x: center;
    background-position-y: center; */
    height:100vh;
}
.navbar-nav button{
    background-color: red;
    color:white;
    font-weight: 500;
}
.navbar-nav button:hover{
    color: white;
}
.section2 h1{
    color:white;
    font-family: roboto;
    font-size: 54px;
    margin-top: 12%;
    text-align: center;

}
.section2 p, h4{
    text-align: center;
    color: white;
    line-height: 25px;
    font-family: roboto;
}
.section form{
    padding-left: 20%;
}
.section form input{
    width:70%;
    height:65px;
    margin-top: 2%;
    justify-content: center;
    font-size: 15px;
    border:none;
    border-radius: 1px;
}
.section form button{
    margin-top: 2%;
    justify-content: center;
    background-color: red;
    color:white;
    border-radius: 1px;
    font-size: larger;
}
.section button:hover{
    color: white;
}
.section3{
    border-top: 10px solid rgb(22, 22, 22);
    border-bottom: 10px solid rgb(22, 22, 22);
    background-color: black;
    /* padding: 50px 0; */
    
}
.section3 img{
    height:auto;
    width:70%;
    margin-left:20%;
}
.section4 h3{
    padding-top: 20px;
    font-size: 25px;
    font-weight: lighter;
}





@media screen and (max-width:990px){
    .section form{
        padding-left: 0;
    }
    .section form input{
        width: 100%;
        height:60px;
        font-size: small;
        font-style: italic;
    }

    .section2 form{
        width:100%;
    }
    .section form button{
        justify-content: center;
        padding: 0 1px;
        width: 40%;
        font-size: 10px;
    }
    .section2 h1{
        color:red;
        font-family: roboto;
        font-size: 35px;
        margin-top: 43%;
    
    }
    .section2 p{
        text-align: center;
        color: white;
        line-height: 20px;
        font-size: 13px;
        font-family: roboto;
    }
    .section2 form button{
        font-family: robot;
        font-size: 11px;
    }
}
